<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
	<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{%static "css/snews.css" %}">
</head>
<body>
 <div class="container">
	<div class="jumbotron" align="center">
	<div class="container">
	<h1>Welcome to sthitaprajna's news portal</h1>
	 <a class="btn btn-primary btn-lg" href="/movies" role="button">Movie news</a>&nbsp&nbsp&nbsp&nbsp
	  <a class="btn btn-primary btn-lg" href="#" role="button">Sports news</a>&nbsp&nbsp&nbsp&nbsp
	   <a class="btn btn-primary btn-lg" href="#" role="button">Polities news</a>

</div>
</div>
</div>
</body>
</html>